POSTGRES_DB=tindr_for_games
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
RAWG_API_KEY="Example_RAWG_API_KEY"
JWT_SECRET_KEY="Example_JWT_SECRET_KEY"
JWT_EXPIRE_MINUTES=30
GEMINI_API_KEY="Example_ACTUAL_KEY_HERE"
